<div class="container" *ngIf="orders.length !== 0">
    <h2>MY ORDERS</h2>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Order Tracking No.</div>
        <div class="col col-2">Order Date</div>
        <div class="col col-3">Total Price</div>
        <div class="col col-4">Total Quantity</div>
        <div class="col col-5"></div>
      </li>
      <li class="table-row" *ngFor="let item of orders; let i = index">
        <div class="col col-1"><strong>{{item.orderTrackingNumber}}</strong></div>
        <div class="col col-2">{{item.dateCreated | date: 'mediumDate' }}</div>
        <div class="col col-3">{{item.totalPrice | currency: 'SGD'}}</div>
        <div class="col col-4">{{item.totalQuantity}}</div>
        <div class="col col-5"><a [routerLink]="['/orders', item.id ]">More Info</a></div>
      </li>
    </ul>
  </div>

  <div class="container"*ngIf="orders.length === 0">
    <h2>MY ORDERS</h2>
        <p>You have no orders</p>

</div>