<!-- 

<ng-container *ngIf="orderList.length !== 0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Unit Price</th>
                            <th>Unit Quantity</th>
                            <th>Product Id</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of orderList; let i = index">

                            <td>{{i+1}}</td>
                            <td>{{item.prodName }}</td>
                            <td><img style="width: 120px;" src="{{item.imageUrl}}" alt=""></td>
                            <th style="width: 12%;">{{item.unitPrice | currency: 'SGD'}}</th>
                            <td style="width: 12%;">{{item.quantity}}</td>
                            <td style="width: 12%;">{{item.prodId}}</td>

                        </tr>
                        <tr>
                            <td colspan="4"></td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container> -->

<div class="container" *ngIf="orderList.length !== 0">
    <h2>ORDER ITEMS</h2>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">No.</div>
        <div class="col col-2"></div>
        <div class="col col-3">Name</div>
        <div class="col col-4">Unit Price</div>
        <div class="col col-5">Unit Quantity</div>
      </li>
      <li class="table-row" *ngFor="let item of orderList; let i = index">
        <div class="col col-1"><strong>#{{i+1}}</strong></div>
        <div class="col col-2"><img style="width: 120px;" src="{{item.imageUrl}}" alt=""></div>
        <div class="col col-3"><strong>{{item.prodName}}</strong></div>
        <div class="col col-4">{{item.unitPrice | currency: 'SGD'}}</div>
        <div class="col col-5">{{item.quantity}}</div>
      </li>
    </ul>
</div>