<!-- <div class="search-container" fxLayout="column" fxLayoutAlign="space-around center">

    <input class="search-input" type="text" placeholder="Search">
</div> -->

<div class="search-container" fxLayout="column" fxLayoutAlign="space-around center">
    <p class="search-title">
        Search for our product
    </p>
    <form [formGroup]="searchForm" class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <input type="text" matInput formControlName="query">
          <mat-icon matSuffix (click)="performSearch()">search</mat-icon>
        </mat-form-field>
      </form>
</div>


<!-- <div *ngFor="let p of productList;">
    <div style="font-family: 'Public Sans', sans-serif; font-weight:700px">
        {{ p.name }}
    </div>
     <div>
        <img src="{{ p.imgLink }}" style="width: 40%; height: 40%">
    </div>
</div> -->

<mat-grid-list cols="2">
    <mat-grid-tile *ngFor="let p of productList;">

        <a [routerLink]="['/product', p.access]">
            <mat-card class="example-card grow">
                <img mat-card-image src="{{ p.imgLink }}" >
                <mat-card-content class="centralise-content">
                    <p style="font-weight:700; text-transform:uppercase; font-size: larger;">
                        {{ p.name }}
                    </p>
                    <p>
                        {{ p.price | currency: 'SGD'}}
                    </p>
                </mat-card-content>
            </mat-card>
        </a>
        


    </mat-grid-tile>
    <!-- <mat-grid-tile><img src="{{ p.imgLink }}" style="width: 40%; height: 40%"></mat-grid-tile> -->
</mat-grid-list>


<!-- <mat-card class="example-card" *ngFor="let p of productList;">

    <img mat-card-image src="{{ p.imgLink }}" style="width:20%; height: 20%;">
    <mat-card-content>
        <mat-card-title>{{ p.name }}</mat-card-title>
        <p>
            {{ p.descr }}
        </p>
    </mat-card-content>

  </mat-card> -->



<!-- <table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of productList;">
            <td>{{ p.name }}</td>
            <td>{{ p.price }}</td>
            <td>{{ p.descr }}</td>
            <td>
                <img src="{{ p.imgLink }}" style="width: 40%; height: 40%">
            </td>
        </tr>
    </tbody>
</table> -->