<div class="container">
    <div class="left-half">
        <div class="inner-grid">
            <div>
                <img src="https://mattstorage.sgp1.digitaloceanspaces.com/vttp-final-project/Chalk_Bag/Chalk%20Bag%20Product%20Page%203.jpg" style="width:20vw; ">
            </div>
            <div>
                <img src="{{ chalkbag.imgLink }}" style="width:20vw">
            </div>
            <div>
                <img src="https://mattstorage.sgp1.digitaloceanspaces.com/vttp-final-project/Chalk_Bag/Chalk%20Bag%20Product%20Page%202.jpg" style="width:20vw">
            </div>
            <div>
                <img src="https://mattstorage.sgp1.digitaloceanspaces.com/vttp-final-project/Chalk_Bag/Chalk%20Bag%20Product%20Page%201.jpg" style="width:20vw">
            </div>


        </div>

    </div>
    <div class="right-half">
        <div>
            <h1 style="text-transform:uppercase;font-weight:bold;letter-spacing: 5px;">
                {{ chalkbag.name }}
            </h1>
            
            <p>
                {{ unitPrice | currency: 'SGD'}}
            </p>

            <form [formGroup]="productForm" #formDirective="ngForm" (ngSubmit)="processForm(formDirective)">
    
                <div class="radio-child">
                    <p>Do you want your chalk bag to have a boot?</p>
                    <mat-radio-group formControlName="withBoot">
                        <mat-radio-button value="yes">Yes</mat-radio-button>
                        <mat-radio-button value="no">No</mat-radio-button>
                    </mat-radio-group>
                </div>
                
                <div class="radio-child">
                    <p>Do you wish to size it up to XL? (+$15)</p>
                    <mat-radio-group formControlName="upsize">
                        <mat-radio-button value="yes">Yes</mat-radio-button>
                        <mat-radio-button value="no">No</mat-radio-button>
                    </mat-radio-group>
                </div>
    
                <div class="radio-child">
                    <p>Do you wish to add 2 hoops and 1 waist strap (+$3.50)?</p>
                    <mat-radio-group formControlName="hoopStraps">
                        <mat-radio-button value="yes">Yes</mat-radio-button>
                        <mat-radio-button value="no">No</mat-radio-button>
                    </mat-radio-group>
                </div>
    
                <div class="radio-child">
                    <p>Do you wish to add keychain holders? (+$1 each)</p>
                    <mat-radio-group formControlName="keychainHolders">
                        <mat-radio-button value="yes">Yes</mat-radio-button>
                        <mat-radio-button value="no">No</mat-radio-button>
                    </mat-radio-group>
                </div>
                
                <div class="radio-child">
                    <mat-form-field *ngIf="productForm.controls['keychainHolders'].value==='yes'" style="width:30vw">
                        <br>
                        <p>How many additional keychain holders would you like to have?</p>
                        <input type="number" formControlName="keychainNum" matInput min="1">
                    </mat-form-field>
                </div>
                <div class="radio-child">
                    <mat-form-field style="width:30vw">
                        <mat-label>Select a design for the EXTERIOR of the chalk bag: </mat-label>
                        <mat-select formControlName="exteriorDesign">
                          <mat-option *ngFor="let f of fabricList" [value]="f.name">
                            <img width="20" height="20" [src]="f.imgLink">
                            {{f.name}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
                <div class="radio-child">
                    <mat-form-field *ngIf="productForm.controls['withBoot'].value==='no'" style="width:30vw">
                        <mat-label>Select a design for the BASE of the chalk bag: </mat-label>
                        <mat-select formControlName="baseBagDesign">
                        <mat-option *ngFor="let f of fabricList" [value]="f.name">
                            <img width="20" height="20" [src]="f.imgLink">
                            {{f.name}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
    
                <div class="radio-child">
                    <mat-form-field *ngIf="productForm.controls['withBoot'].value==='yes'" style="width:30vw">
                        <mat-label>Select a design for the BOOT of the chalk bag: </mat-label>
                        <mat-select formControlName="bootDesign">
                          <mat-option *ngFor="let f of fabricList" [value]="f.name">
                            <img width="20" height="20" [src]="f.imgLink">
                            {{f.name}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
    
                <div class="radio-child">
                    <mat-form-field>
                        <mat-label>Quantity: </mat-label>
                        <input type="number" matInput formControlName="quantity" min="1">
                    </mat-form-field>
                </div>
    
                <br>
                <button type="submit" class="button-50">
                    Add to Cart
                </button>
                <button type="button" class="button-50" style="margin-left: 15px; background-color: rgb(220, 8, 8);" (click)="addFavourite()" [disabled]="favMessage === 'Added'">
                    Favourite
                </button>
            
            </form>
            
        </div>
        
    </div>
    
    

</div>
    


