<div class="footer">
    <div class="col-1">
        <h3>LINKS</h3>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="mailto:matt.dev.usage2@gmail.com">Email</a>

    </div>
    <div class="col-2">
        <h3>NEWSLETTER</h3>
        <div class="form">
            <input type="email" placeholder="Your Email Address">
        </div>
            <br>
            <button type="button" class="button">SUBSCRIBE NOW</button>


    </div>
    <div class="col-3">
        <h3>LOCATION</h3>
        <p>123 Road, S(111111), Singapore</p>
        <div class="social-icons">
            <a href="https://www.instagram.com/isaac.thread/" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a>
            <fa-icon [icon]="['fab', 'telegram']"></fa-icon>
        </div>
        
    </div>

    
</div>