<h1>Create an Account</h1>

<div class="container">
    <div class="signin-options">

    </div>

    <div class="form">
        <form [formGroup]="userForm" (ngSubmit)="processForm()">
    

            <label for="">First Name</label>
            <input type="text" name="" id="" formControlName="firstName">
            
            <label for="">Last Name</label>
            <input type="text" name="" id="" formControlName="lastName">
        
            <label for="">Email</label>
            <input type="email" name="" id="" formControlName="email">
            
            <label for="">Contact Number</label>
            <input type="text" name="" id="" formControlName="mobile">
            
            <label for="">Password</label>
            <input type="password" name="" id="" formControlName="password">
        
            <button type="submit">Create Account</button>
        
        </form>
    </div>

    {{ creationMsg }}
</div>

// 

<div class="center-content">
    <mat-card class="example-card">
      <mat-card-header style="text-align: center;">
        <mat-card-title>Login/Register</mat-card-title>
        <mat-card-subtitle>Angular tutorial</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <mat-tab-group animationDuration="0ms" >
          <mat-tab label="Login">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" value="" >
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
  
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" >
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <button mat-button color="primary">Login</button>
          </mat-tab>

          <mat-tab label="Register">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" value="">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
  
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" >
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" >
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <button mat-button color="primary" >Register</button>
          </mat-tab>
        </mat-tab-group>
  
      </mat-card-content>
  
    </mat-card>
  </div>