<div class="wrapper">
  <div class="banner">
    <strong>
      CHRISTMAS SALE FROM NOW UNTIL <u>25 NOV 2022 (FRIDAY)</u></strong>
      <br>
      Grab your loved ones and place your orders together!
      <br>
      <!-- Find out more at our Instagram page: @isaac.thread -->
    
  </div>
  
  <div>

    <div>
      <img src="https://mattstorage.sgp1.digitaloceanspaces.com/vttp-final-project/Landing_Page/Landing_Page/Landing%20Page%201.jpg" alt="">
    </div>
    
    <div>
        <button class="button-50" type="button" (click)="onShop()">Start Shopping</button>
        <button  type="button" (click)="onCheckout()">checkout</button>
    </div>
  </div>
</div>




  <!-- <div class="grid">
    <div class="col-6 text-center">6</div>
    <div class="col-6">6</div> -->
    
  
    
  <!-- </div> -->





<!-- <button type="button" (click)="onSignUp()">Sign Up</button> -->

