<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="example-card">
    <form [formGroup]="loginForm">
      <mat-card-title style="font-family: sans-serif; font-weight: 700; letter-spacing: 2px;">SIGN IN</mat-card-title>
      <hr>
      <mat-card-content>
        
          <p>Email: </p>
          <input type="email" formControlName="email">
          <br>
          <br>
          <p >Password: </p>
          <input type="password" formControlName="password">
      
          
      
      </mat-card-content>
  
      
  
      <mat-card-actions>
        <button mat-button type="submit" (click)="processForm()" [disabled]="loginForm.invalid">Login</button>
        


      </mat-card-actions>
    </form>
    
  </mat-card>
  </div>


  <div style="text-align:center;">
    <a  style="color:blue" [routerLink]="['/signup']">No account yet? Sign up here to get started!</a>
  </div>
          
