<div>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div>
            <div class="example-action-buttons">
                <button mat-button (click)="accordion.openAll()">Expand All</button>
                <button mat-button (click)="accordion.closeAll()">Collapse All</button>
            </div>

            <mat-accordion class="example-headers-align" multi>

                <div formGroupName="shippingAddress">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Shipping
                            </mat-panel-title>
                            <!-- <mat-panel-description>
                            Enter your shipping address details
                            <mat-icon>local_shipping</mat-icon>
                            </mat-panel-description> -->
                        </mat-expansion-panel-header>
                        
        
                        <mat-form-field appearance="fill">
                            <mat-label>Address Line</mat-label>
                            <input matInput formControlName="street" type="text">
                            <div *ngIf="shippingAddressStreet?.invalid && (shippingAddressStreet?.dirty || shippingAddressStreet?.touched)" class="warning">
                                <div *ngIf="shippingAddressStreet?.errors?.['required'] || shippingAddressStreet?.errors?.['noWhitespace']">
                                    Street is required
                                </div>
                            </div>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Postal Code</mat-label>
                            <input matInput formControlName="postalCode" type="text">
                            <div *ngIf="shippingAddressPostalCode?.invalid && (shippingAddressPostalCode?.dirty || shippingAddressPostalCode?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="shippingAddressPostalCode?.errors?.['required'] || shippingAddressPostalCode?.errors?.['noWhitespace']">
                                    Postal code is required
                                </div>
                                <div *ngIf="shippingAddressPostalCode?.errors?.['minlength']">
                                    Postal code must be at least 6 digits long
                                </div>
                            </div>
                        </mat-form-field>
                        <br>
                        <label id="example-radio-group-label">Select your delivery method:</label>
                        <br>
                        <select style="width:30%; height:30px; margin-top:20px; border-radius: 5px;" #delivery>
                            <option value="mail">Normal Non-Tracked Local Mailing</option>
                            <option value="collect">Self-Collect at (S)555555</option>
                        </select>
                        <!-- <mat-radio-group #delivery aria-labelledby="example-radio-group-label" class="example-radio-group">
                            <mat-radio-button #deliveryMail class="example-radio-button" value="mail">
                                Normal non-tracked local mailing (+$2)
                            </mat-radio-button>
                            <mat-radio-button #deliveryCollect class="example-radio-button" value="collect">
                                Meetup at (S)653288 (free of charge)
                            </mat-radio-button>
                        </mat-radio-group> -->
            
                    </mat-expansion-panel>
                </div>

                <div formGroupName="billingAddress">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                            Billing
                            </mat-panel-title>

                        </mat-expansion-panel-header>

                        <div class="input-space">
                            <label class="au-checkbox">
                                <input type="checkbox" (change)="copyShipAddToBillAdd($event)">
                                <span class="au-checkmark"></span>My shipping information is the same as my billing information
                            </label>
                            
                        </div>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Address Line</mat-label>
                            <input matInput formControlName="street" type="text">
                            <div *ngIf="billingAddressStreet?.invalid && (billingAddressStreet?.dirty || billingAddressStreet?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="billingAddressStreet?.errors?.['required'] || billingAddressStreet?.errors?.['noWhitespace']">
                                    Street is required
                                </div>
                            </div>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Postal Code</mat-label>
                            <input matInput formControlName="postalCode" type="text">
                            <div *ngIf="billingAddressPostalCode?.invalid && (billingAddressPostalCode?.dirty || billingAddressPostalCode?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="billingAddressPostalCode?.errors?.['required'] || billingAddressPostalCode?.errors?.['noWhitespace']">
                                    Postal code is required
                                </div>
                                <div *ngIf="billingAddressPostalCode?.errors?.['minlength']">
                                    Postal code must be at least 6 digits long
                                </div>
                            </div>
                        </mat-form-field>

                        <div>
                            <p style="font-weight: 700;text-transform: uppercase;letter-spacing: 3px;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Credit or Debit Card</p>
                            <div id="card-element">
                                <!-- a Stripe element will be inserted here -->
                            </div>
                            <!-- Used to display form errors -->
                            <div id="card-errors">
                            </div>

                        </div>
            
                    </mat-expansion-panel>
                </div>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                        Review your order
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <br>
                    <!-- <mat-form-field appearance="fill">
                        <mat-label>Address Line</mat-label>
                        <input matInput formControlName="street" type="text">
                        <div *ngIf="billingAddressStreet?.invalid && (billingAddressStreet?.dirty || billingAddressStreet?.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="billingAddressStreet?.errors?.['required'] || billingAddressStreet?.errors?.['noWhitespace']">
                                Street is required
                            </div>
                        </div>
                    </mat-form-field> -->


                    <div class="form-area">
                        <p><strong>Total Quantity:</strong> {{ totalQuantity }}</p>
                        <p><strong>Total Price:</strong> {{ totalPrice | currency: 'SGD' }}</p>
                    </div>

                    <div class="text-center">
                        <button class="button-50" type="submit" [disabled]="isDisabled">Purchase</button>
                    </div>
                    <br>
                    <br>
                    
                </mat-expansion-panel>


            </mat-accordion>

            



                <!-- <form>
                    <input type="text" placeholder="Credit Card #" name="cardNumber">
                    <input type="text" placeholder="Expiration Month" name="expMonth">
                    <input type="text" placeholder="Expiration Year" name="expYear">
                    <input type="text" placeholder="CVC" name="cvc">
                    <button (click)="chargeCreditCard()">Submit</button>
                </form> -->         
    

            <!-- <div formGroupName="shippingAddress">
                <h3>Shipping Address</h3>
    
                <div class="row">
                    <div class="col-md-2"> <label>Street</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="street" type="text">
    
                            <div *ngIf="shippingAddressStreet?.invalid && (shippingAddressStreet?.dirty || shippingAddressStreet?.touched)" class="warning">
                                <div *ngIf="shippingAddressStreet?.errors?.['required'] || shippingAddressStreet?.errors?.['noWhitespace']">
                                    Street is required
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-2"> <label>Postal Code</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="postalCode" type="text">
    
                            <div *ngIf="shippingAddressPostalCode?.invalid && (shippingAddressPostalCode?.dirty || shippingAddressPostalCode?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="shippingAddressPostalCode?.errors?.['required'] || shippingAddressPostalCode?.errors?.['noWhitespace']">
                                    Postal code is required
                                </div>
                                <div *ngIf="shippingAddressPostalCode?.errors?.['minlength']">
                                    Postal code must be at least 6 digits long
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            
          
            </div>


            <div class="input-space">
                <label class="au-checkbox">
                    <input type="checkbox" (change)="copyShipAddToBillAdd($event)">
                    <span class="au-checkmark"></span>My shipping information is the same as my billing information
                </label>
            </div>


            <div formGroupName="billingAddress">
                <h3>Billing Address</h3>
    
                <div class="row">
                    <div class="col-md-2"> <label>Street</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="street" type="text">
    
                            <div *ngIf="billingAddressStreet?.invalid && (billingAddressStreet?.dirty || billingAddressStreet?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="billingAddressStreet?.errors?.['required'] || billingAddressStreet?.errors?.['noWhitespace']">
                                    Street is required
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"> <label>Postal Code</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="postalCode" type="text">
    
                            <div *ngIf="billingAddressPostalCode?.invalid && (billingAddressPostalCode?.dirty || billingAddressPostalCode?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="billingAddressPostalCode?.errors?.['required'] || billingAddressPostalCode?.errors?.['noWhitespace']">
                                    Postal code is required
                                </div>
                                <div *ngIf="billingAddressPostalCode?.errors?.['minlength']">
                                    Postal code must be at least 6 digits long
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            
          
            </div> -->

            


            <!-- <label id="example-radio-group-label">Select your delivery method:</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                    <mat-radio-button class="example-radio-button" value="mail">
                        Normal non-tracked local mailing (+$2)
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="collect">
                        Meetup at (S)653288 (free of charge)
                    </mat-radio-button>
                </mat-radio-group> -->

            
        
        </div>
    </form>
        
</div>
