<mat-toolbar style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0)">
    <!-- <button type="button" mat-icon-button>
      <mat-icon style="border-width: 0px;">menu</mat-icon>
    </button> -->
    <span style="margin-left: 1.5vw;">
      <!-- <img src="/assets/images/isaac-logo.svg"> -->
    </span> 
    <!-- place the isaac logo here -->
    <!-- <img src="/assets/images/isaac-logo-2.svg" (click)="onRouteLanding()" width="70vw"> -->
    <a href ng-click="onRouteLanding()">
        <img src="/assets/images/isaac-logo-2.svg" width="70vw">
    </a>

    <span class="example-spacer"></span>
    <button type="button" mat-icon-button (click)="onUser()">
      <mat-icon>person_outline</mat-icon>
    </button>
    <button type="button" mat-icon-button (click)="onFavourites()">
      <mat-icon>favorite_border</mat-icon>
    </button>
    <button type="button" mat-icon-button (click)="onCart()">
      <mat-icon>shopping_bag</mat-icon>
    </button>
  </mat-toolbar>