<mat-toolbar style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0)">
    <!-- <button type="button" mat-icon-button>
      <mat-icon style="border-width: 0px;">menu</mat-icon>
    </button> -->
    <span style="margin-left: 1.5vw;">
      <!-- <img src="/assets/images/isaac-logo.svg"> -->
    </span>
    <!-- <a href (click)="onIcon()">
        <img src="/assets/images/isaac-logo-2.svg" width="70vw">
    </a> -->
    <a href (click)="toLanding()" *ngIf="noToken()">
      <img src="/assets/images/isaac-logo-2.svg" width="70vw">
    </a>
    <a href (click)="toMain()" *ngIf="!noToken()">
      <img src="/assets/images/isaac-logo-2.svg" width="70vw">
    </a>

    <span class="example-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
      <mat-icon>person_outline</mat-icon>
    </button>
    <mat-menu #menu="matMenu" >
      <span>
        <!-- <div style="text-align:center" *ngIf="{{token}} !== null">
          <a [routerLink]="['/login']">Sign In</a>
           | 
          <a [routerLink]="['/signup']">Register</a>
        </div> -->
        <div style="text-align:center" *ngIf="token !== null">
          Hi {{name}}!
          <hr>
        </div>
        
        <button mat-menu-item (click)="onLogin()" *ngIf=noToken()>
          <mat-icon>login</mat-icon>
          <span>Sign In</span>
        </button>
        <button mat-menu-item (click)="onRegister()" *ngIf=noToken()>
          <mat-icon>app_registration</mat-icon>
          <span>Register</span>
        </button>
        <button mat-menu-item (click)="onOrders()" *ngIf=!noToken()>
          <mat-icon>inventory_2</mat-icon>
          <span>My Orders</span>
        </button>
        <button mat-menu-item (click)="onSignOut()" *ngIf=!noToken()>
          <mat-icon>logout</mat-icon>
          <span>Sign Out</span>
        </button>
      </span>
      
    </mat-menu>


    <button type="button" mat-icon-button (click)="onFavourites()">
      <mat-icon>favorite_border</mat-icon>
    </button>
    <button type="button" mat-icon-button (click)="onCart()">
      <mat-icon class="material-icons-outlined">shopping_bag</mat-icon>
    </button>
  </mat-toolbar>