<!-- 

<ng-container *ngIf="productList.length !=0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of productList; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.prodId}}</td>
                            <td><img style="width: 120px;" src="{{item.imgLink}}" alt=""></td>
                            <th style="width: 12%;">{{item.price | currency: 'SGD'}}</th>
                            <td style="width: 12%;">{{item.quantity}}</td>
                            <td style="width: 12%;">total</td>
                            <td>
                                
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            
                            <td><button routerLink="/shop" class="btn btn-primary">Shop More</button></td>
                            <td><button class="btn btn-success" (click)="onCheckout()">Checkout</button></td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="productList.length ==0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button routerLink="/products" class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</ng-container> -->







<!-- <div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <div *ngIf="cartItems.length > 0">

                <table class="table table-bordered">
                    <tr>
                        <th width="20%">Product Image</th>
                        <th width="50%">Product Detail</th>
                        <th width="30%"></th>
                        <th width="30%"></th>
                    </tr>

                    <tr *ngFor="let tempCartItem of cartItems">
                        <td>
                            <img src="{{ tempCartItem.imgLink }}" class="img-responsive" width="150px" />
                        </td>
                        <td>
                            <p>{{ tempCartItem.prodId }}</p>
                            <p>{{ tempCartItem.price | currency: 'USD' }}</p>
                        </td>
                        <td>{{ tempCartItem.prodName}}</td>
                        <td>
                            <div class="items">
                                <label>Quantity:</label>

                                <div class="row no-gutters">
                                    <div class="col">
                                        <button (click)="incrementQuantity(tempCartItem)" class="btn btn-primary btn-sm">
                                            <i class="fas fa-plus"></i>+
                                        </button>
                                    </div>

                                    <div class="col ml-4 mr-2">
                                        {{ tempCartItem.quantity }}
                                    </div>

                                    <div class="col">
                                        <button (click)="decrementQuantity(tempCartItem)" class="btn btn-primary btn-sm">
                                            <i class="fas fa-minus"></i>-
                                        </button>
                                    </div>

                                    <div class="col-8"></div>
                                </div>

                            </div>

                            <button (click)="remove(tempCartItem)" class="btn btn-primary btn-sm mt-2">Remove</button>

                            <p class="mt-2">Subtotal: {{ tempCartItem.quantity * tempCartItem.price | currency: 'USD' }}</p>
                        </td>
                        
                    </tr>

                    <tr>
                        <td colspan="3"></td>
                        <td style="font-weight: bold">
                            <p>Total Quantity: {{ totalQuantity }}</p>
                            <p> </p>
                            <p>Total Price: {{ totalPrice | currency: 'USD' }}</p>
                            <a routerLink="/checkout" class="btn btn-primary">Checkout</a>
                        </td>
                    </tr>

                </table>

            </div>

             if cart is empty then display a message 
            <div *ngIf="cartItems.length == 0" class="alert alert-warning col-md-12" role="alert">
                Your shopping cart is empty. 
            </div>

        </div>
    </div>
</div> -->


<div *ngIf="cartItems.length === 0" class="container">
    Your shopping cart is empty. 
</div>

<div class="container" *ngIf="cartItems.length !== 0">
    <h2>MY CART</h2>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">No.</div>
        <div class="col col-2"></div>
        <div class="col col-3">Product Name</div>
        <div class="col col-4">Unit Price</div>

        <div class="col col-5">Quantity</div>

        <div class="col col-6">Subtotal</div>
        <div class="col col-7"></div>
      </li>
      <li class="table-row" *ngFor="let item of cartItems; let i = index">
        <div class="col col-1"><strong>#{{i+1}}</strong></div>
        <div class="col col-2"><img style="width: 120px;" src="{{item.imgLink}}" alt=""></div>
        <div class="col col-3">{{item.prodName}}</div>
        <div class="col col-4">{{item.price | currency: 'SGD'}}</div>
        <div class="col col-5">
            <button mat-button (click)="decrementQuantity(item)">
                <mat-icon>remove</mat-icon>
            </button>
            {{item.quantity}}
            <button mat-button (click)="incrementQuantity(item)">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="col col-6">{{ item.quantity * item.price | currency: 'SGD' }}</div>
        <div class="col col-7">
            <button mat-button color="warn" (click)="remove(item)">Remove</button></div>
      </li>
      <li class="table-row" style="background-color: transparent;">
        <div class="col col-1"></div>
        <div class="col col-2"></div>
        <div class="col col-3"></div>
        <div class="col col-4"></div>
        <div class="col col-5"><strong>Total Quantity:</strong> {{ totalQuantity }}</div>
        <div class="col col-6"><strong>Total Price:</strong> {{ totalPrice | currency: 'SGD' }}</div>
        <div class="col col-7"></div>
      </li>
    </ul>
</div>