<div style="display: flex; align-items: flex-start; justify-content: space-between;margin-top: 10vh;">
    <div class="left-container">
        <img src="{{ chalkbucket.imgLink }}" style="width:30vw" >
    </div>
    <div class="right-container w-f">
        <div>
            <h1>
                {{ chalkbucket.name }}
            </h1>
            
            <p>
                {{ unitPrice | currency: 'SGD'}}
            </p>
            
        </div>
        <form [formGroup]="productForm" #formDirective="ngForm" (ngSubmit)="processForm(formDirective)">
    
            <p>Do you want your chalk bucket to be of HALF-BASE or WHOLE-BASE?</p>
            <mat-radio-group formControlName="baseType">
                <mat-radio-button value="half">Half-Base</mat-radio-button>
                <mat-radio-button value="whole">Whole-Base</mat-radio-button>
            </mat-radio-group>
            
            <p>Do you wish to have a FRONT-BUCKLE CLOSURE or a SIDE-BUCKLE CLOSURE? (+$2)</p>
            <mat-radio-group formControlName="frontSideClosure">
                <mat-radio-button value="front">Front-Buckle Closure</mat-radio-button>
                <mat-radio-button value="side">Side-Buckle Closure</mat-radio-button>
            </mat-radio-group>
            
            <!-- brush holder and location -->

            <p>Do you wish to add MAGNETIC CLOSURE (+$5)?</p>
            <mat-radio-group formControlName="magneticClosure">
                <mat-radio-button value="yes">Yes</mat-radio-button>
                <mat-radio-button value="no">No</mat-radio-button>
            </mat-radio-group>
            <!-- <select>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select> -->

            <p>Do you wish to add D-rings and webbing? (+$4)</p>
            <mat-radio-group formControlName="dRingWebbing">
                <mat-radio-button value="yes">Yes</mat-radio-button>
                <mat-radio-button value="no">No</mat-radio-button>
            </mat-radio-group>
            <!-- <select>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select> -->
            
            <!-- <p></p>
            <mat-form-field *ngIf="productForm.controls['keychainHolders'].value==='yes'" style="width:30vw">
                <br>
                <p>How many additional keychain holders would you like to have?</p>
                <input type="number" formControlName="keychainNum" matInput min="1">
            </mat-form-field> -->
        
            <!-- <div *ngIf="productForm.controls['keychainHolders'].value==='yes'">
        `       <p>If you have selected "Yes" for the addition of keychain holders, how many would you like to have?</p>
                <input type="number" formControlName="keychainNumber">
            </div> -->
            
            <p></p>
            <mat-form-field style="width:30vw">
                <mat-label>Select a design for the FRONT POCKET of the chalk bucket: </mat-label>
                <mat-select formControlName="frontPocketDesign">
                  <mat-option *ngFor="let f of fabricList" [value]="f.name">
                    <img width="20" height="20" [src]="f.imgLink">
                    {{f.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>

            <p></p>
            <mat-form-field style="width:30vw">
                <mat-label>Select a design for the BACK OF THE FRONT POCKET of the chalk bucket: </mat-label>
                <mat-select formControlName="frontPocketBackDesign">
                  <mat-option *ngFor="let f of fabricList" [value]="f.name">
                    <img width="20" height="20" [src]="f.imgLink">
                    {{f.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
    
            <p></p>
            <mat-form-field style="width:30vw">
                <mat-label>Select a design for the BACK of the chalk bucket: </mat-label>
                <mat-select formControlName="backDesign">
                  <mat-option *ngFor="let f of fabricList" [value]="f.name">
                    <img width="20" height="20" [src]="f.imgLink">
                    {{f.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
    
            <p></p>
            <mat-form-field *ngIf="productForm.controls['baseType'].value==='whole'" style="width:30vw">
                <mat-label>Select a design for the BASE of the chalk bucket: </mat-label>
                <mat-select formControlName="baseBucketDesign">
                  <mat-option *ngFor="let f of fabricList" [value]="f.name">
                    <img width="20" height="20" [src]="f.imgLink">
                    {{f.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
    
            <p>Quantity</p>
            <input type="number" formControlName="quantity" min="1">
        
            <!-- create an event that updates the price when  -->
            
            <!-- <p>Remarks (Optional)</p>
            <textarea id="" cols="30" rows="5" formControlName="remarks"></textarea>
            <br> -->
            <!-- <button type="submit" [disabled]="productForm.invalid">Add to Cart</button> -->
            <button type="submit">Add to Cart</button>
            <button type="button" (click)="addFavourite()">Favourite</button>
        </form>
    </div>
    
    

</div>
    


