
<!-- showcase the product name -->
<!-- showcase the product descr -->


<!-- would be better to provide images upon selection 
    so that it is easier for the custoemrs to visualize
-->

Chalk Bucket

<form [formGroup]="productForm" (ngSubmit)="processForm()">
    <p>Select the buckle closure type</p>
    <select>
        <option value="front">Front</option>
        <option value="side">Side</option>
    </select>

    <p>Opt for a magnetic closure top? (+$5)</p>
    <select>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>

    <p>Add a back pocket? (+$5)</p>
    <select>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
    
    <p>Select a design for the FRONT POCKET</p>
    <select formControlName="frontPocketDesign">
        <option value="black">Black</option>
        <option value="natural">Natural</option>
        <option value="grey">Grey</option>
        <option value="sky">Sky</option>
        <option value="navy">Navy</option>
        <option value="green">Green</option>
        <option value="olive">Olive</option>
        <option value="bloom">Bloom</option>
        <option value="flora">Flora</option>
        <option value="toile">Toile</option>
        <option value="outback">Outback</option>
        <option value="tropical">Tropical</option>
        <option value="palm">Palm</option>
        <option value="ornament">Ornament</option>
        <option value="cabin">Cabin</option>
        <option value="produce">Produce</option>
        <option value="monstera">Monstera</option>
        <option value="barteri">Barteri</option>
        <option value="organic">Organic</option>
        <option value="maki">Maki</option>
        <option value="sushi">Sushi</option>
        <option value="sail">sail</option>
        <option value="personalFabric">I am using my personal fabric!</option>
    </select>
    <p>Select a design for the FRONT POCKET</p>
    <select formControlName="frontPocketDesign">
        <option value="black">Black</option>
        <option value="natural">Natural</option>
        <option value="grey">Grey</option>
        <option value="sky">Sky</option>
        <option value="navy">Navy</option>
        <option value="green">Green</option>
        <option value="olive">Olive</option>
        <option value="bloom">Bloom</option>
        <option value="flora">Flora</option>
        <option value="toile">Toile</option>
        <option value="outback">Outback</option>
        <option value="tropical">Tropical</option>
        <option value="palm">Palm</option>
        <option value="ornament">Ornament</option>
        <option value="cabin">Cabin</option>
        <option value="produce">Produce</option>
        <option value="monstera">Monstera</option>
        <option value="barteri">Barteri</option>
        <option value="organic">Organic</option>
        <option value="maki">Maki</option>
        <option value="sushi">Sushi</option>
        <option value="sail">sail</option>
        <option value="personalFabric">I am using my personal fabric!</option>
    </select>
    <p>Select a design for the FRONT POCKET</p>
    <select formControlName="frontPocketDesign">
        <option value="black">Black</option>
        <option value="natural">Natural</option>
        <option value="grey">Grey</option>
        <option value="sky">Sky</option>
        <option value="navy">Navy</option>
        <option value="green">Green</option>
        <option value="olive">Olive</option>
        <option value="bloom">Bloom</option>
        <option value="flora">Flora</option>
        <option value="toile">Toile</option>
        <option value="outback">Outback</option>
        <option value="tropical">Tropical</option>
        <option value="palm">Palm</option>
        <option value="ornament">Ornament</option>
        <option value="cabin">Cabin</option>
        <option value="produce">Produce</option>
        <option value="monstera">Monstera</option>
        <option value="barteri">Barteri</option>
        <option value="organic">Organic</option>
        <option value="maki">Maki</option>
        <option value="sushi">Sushi</option>
        <option value="sail">sail</option>
        <option value="personalFabric">I am using my personal fabric!</option>
    </select>
    
    <p>Quantity</p>
    <input type="number">

    <p></p>
    <!-- create an event that updates the price when  -->
    
    <p>Remarks</p>
    <input type="text">

    
    <button type="submit">Add to Cart</button>

</form>
